#globe

#personae
  %h1 Spanner

  .person
    .mug
    .who
      %p
        %strong
          Will
        %br
        Developer
  .person
    .mug
    .who
      %p
        %strong
          Mike
        %br
        Developer
  .person
    .mug
    .who
      %p
        %strong
          Anna
        %br
        Curator
  .person
    .mug
    .who
      %p
        %strong
          Sue
        %br
        Financial controller
      
      
      
      
